# Final Presentation Notebook

### Introduction

In my personal notebook, I analyze which neighboorhood was cleaned up the most to determine which one is the most environmentally safe. This will be done by analyzing the area covered in each neighborhood by clean-up crews. Then, I will combine that data with data from another data set that contains overall areas of each neighborhood to see which area was cleaned up the most.

#### Step 1. Import all the datasets that must be used.

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
beautify_pgh = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')
neighborhoodData = pd.read_csv('neighborhoodData.csv')

#### Step 2. Here I will add up the areas covered by groups in each neighborhood and sort them from greatest to least. The first neighborhood would have had the most ground covered.

In [117]:
# import pandas as pd
df = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')
dataSetTwo = df[['Neighborhood','SHAPE_Area']]
#dataSetTwo = df.groupby('Neighborhood').mean().sort_values(['SHAPE_Area','Neighborhood'],ascending =[False,True])
#dataSetTwo['SHAPE_Area'] = dataSetTwo['SHAPE_Area']/4046.86
sortDataSetTwo = dataSetTwo.sort_values(by="Neighborhood")
df2 = sortDataSetTwo.groupby(['Neighborhood']).sum()
#mergedf2 = sortDataSetTwo.groupby(by=sortDataSetTwo.columns, axis=1).sum
#mergedf2 = sortDataSetTwo.groupby(['Neighborhood']).agg({'SHAPE_Area' : 'sum'})
#mergedf2
df2['SHAPE_Area'] = df2['SHAPE_Area']/4046.8564224
#df2
df2['Neighborhood'] = df2.index
df2.reset_index(drop=True)
columns_titles = ["Neighborhood","SHAPE_Area"]
df2=df2.reindex(columns=columns_titles)
df2=df2['SHAPE_Area'].rename_axis('Neighborhood').reset_index(name='area')
df2
##newdf =fire_incident['neighborhood'].value_counts().rename_axis('neighborhood').reset_index(name='frequency')

                 Neighborhood        area
0              Allegheny West    4.732557
1                   Allentown    3.749644
2                   Arlington    5.947094
3                 Beltzhoover   23.596112
4                Bluff/Uptown    2.270216
5                     Carrick    3.781603
6   Central Business District    9.649654
7             Central Oakland   50.399079
8                East Liberty    7.738735
9                     Elliott    8.368664
10                 Greenfield    3.894347
11                  Hazelwood    2.810837
12             Homewood South    4.766865
13        Lower Lawrenceville   51.244958
14           Mount Washington  254.525898
15              North Oakland   45.686492
16         North Point Breeze   18.602446
17               Point Breeze   10.301870
18                  Shadyside    6.987445
19                   Sheraden    3.959767
20              South Oakland   66.837771
21           South Side Flats   17.613949
22      Spring Hill-City View   30.671876
23             Strip District   40.333771
24               West Oakland   19.903322

In [120]:
df = neighborhoodData.sort_values(by = "hood")
dfaa = df[['hood','acres']]
df3 = dfaa.reset_index(drop=True)
df3

                   hood    acres
0      Allegheny Center  134.703
1        Allegheny West   90.841
2             Allentown  189.608
3             Arlington  302.320
4     Arlington Heights   84.592
..                  ...      ...
85  Upper Lawrenceville  260.349
86             West End  128.679
87         West Oakland  138.372
88             Westwood  445.009
89              Windgap  266.678

[90 rows x 2 columns]

In [145]:
newdf =beautify_pgh['Neighborhood'].value_counts().rename_axis('Neighborhood').reset_index(name='area')
sorteddf = newdf.sort_values(["Neighborhood"], ascending=True)
sortednew = sorteddf.reset_index(drop=True)
mergesorteddata = sortednew.merge(df3, how = 'left', left_on = 'Neighborhood', right_on = 'hood', suffixes=('area', 'acres'))
mergesorteddata.sort_values(['area'], ascending=True)
mergesorteddata['ratio'] = mergesorteddata['area'] / mergesorteddata['acres']
ratio = mergesorteddata.sort_values(["ratio"], ascending=True)
addcol = df2['area']
ratio.insert(1, 'shapearea', addcol)
ratio['realratio'] = ratio['shapearea'] / ratio['acres']
del ratio["area"]
del ratio["hood"]
del ratio["ratio"]
ratio
ratio = ratio.sort_values(["realratio"], ascending=True)
ratio

                 Neighborhood   shapearea     acres  realratio
11                  Hazelwood    2.810837  1017.805   0.002762
5                     Carrick    3.781603  1075.670   0.003516
19                   Sheraden    3.959767   572.125   0.006921
10                 Greenfield    3.894347   497.028   0.007835
18                  Shadyside    6.987445   592.104   0.011801
17               Point Breeze   10.301870   645.695   0.015955
12             Homewood South    4.766865   256.093   0.018614
2                   Arlington    5.947094   302.320   0.019672
1                   Allentown    3.749644   189.608   0.019776
8                East Liberty    7.738735   373.650   0.020711
9                     Elliott    8.368664   389.870   0.021465
6   Central Business District    9.649654   411.593   0.023445
21           South Side Flats   17.613949   601.553   0.029281
0              Allegheny West    4.732557    90.841   0.052097
22      Spring Hill-City View   30.671876   404.765   0.075777
3                 Beltzhoover   23.596112   270.374   0.087272
23             Strip District   40.333771   390.864   0.103191
15              North Oakland   45.686492   320.679   0.142468
24               West Oakland   19.903322   138.372   0.143839
13        Lower Lawrenceville   51.244958   276.392   0.185407
20              South Oakland   66.837771   326.793   0.204526
7             Central Oakland   50.399079   180.883   0.278628
14           Mount Washington  254.525898   732.495   0.347478
4                Bluff/Uptown    2.270216       NaN        NaN
16         North Point Breeze   18.602446       NaN        NaN

#### Step 3. Next, I will extract the neighborhood name and area from the Beautify Pittsburgh dataset and sort them the in alphabetical order. I will divide the area by 4046.86 to change from square meters to acres

In [68]:
temporarySet = neighborhoodData.sort_values(by = "hood")
temporarySet = sortedarea[['hood','acres']]
dataSetOne = sortedareadf.reset_index(drop=True)
dataSetOne

                   hood    acres
0      Allegheny Center  134.703
1        Allegheny West   90.841
2             Allentown  189.608
3             Arlington  302.320
4     Arlington Heights   84.592
..                  ...      ...
85  Upper Lawrenceville  260.349
86             West End  128.679
87         West Oakland  138.372
88             Westwood  445.009
89              Windgap  266.678

[90 rows x 2 columns]

In [ ]:

# using the df from the last step create a
#new data frame 

##neighborhoodFrame = pd.read_csv('neighborhoodData.csv')
##df = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')

##dataSetTwo = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')

#dataSetTwo['SHAPE_Area'] = dataSetTwo['SHAPE_Area']/4046.86
#dataSetTwo.sort_values(by = 'Neighborhood')
#newDataSetTwo = dataSetTwo[['Neighborhood', 'SHAPE_Area']]
#finalDataSetTwo = newDataSetTwo.reset_index(drop=True)
#finalDataSetTwo
#print(dataSetTwo)
#temporary_Set =dataSetTwo.sort_values(by = "Neighborhood")
#temporary_Set = sortedarea[['Neighborhood','SHAPE_Area]]
#final = sortedareadf.reset_index(drop=True)
#final

#dataSetTwo['SHAPE_Area'] = dataSetOne['shape_length']


#convertedDataNewCol= (dataSetTwo['SHAPE_Area'])/4046.86 
#convertedData is a new column insert this into NeighborhoodData



## Merge both sets and data so you can do an operation
## df= data set 1 without converstion 

#newFrame = dataSetTwo.merge(convertedDataNewCol)
#newFrame


##newFrame = dataSetOne.merge(convertedData, left_on ='neighborhood', right_on = 'hood', suffixes='ratio','convertedData')
#newDataSet = newFrame[['Neighborhood', 'convertedData','acres', 'ratio']]

merge = sortDataSetTwo.groupby(['Neighborhood']).agg({'SHAPE_Area':'sum'})
merge

In [ ]:
import pandas as pd
df = pd.read_csv('Pittsburgh_Beautify_The_Burgh.csv')
dataSetTwo = df[['Neighborhood','SHAPE_Area']]
dataSetTwo = df.groupby('Neighborhood').mean().sort_values(['SHAPE_Area','Neighborhood'],ascending =[False,True])
dataSetTwo['SHAPE_Area'] = dataSetTwo['SHAPE_Area']/4046.86
sortDataSetTwo = dataSetTwo.sort_values(by="Neighborhood").sum()
sortDataSetTwo